@model CalculoIndice.Models.Asignatura

@{
    ViewBag.Title = "Eliminar";
}

<br />
<center><h2><b>Eliminar asignatura</b></h2></center>

<div class="row" style="width:1450px">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Clave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Clave)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </div>
            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Credito)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Credito)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.PreRequisitos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Asignatura2.Clave)
                </dd>
            </div>
            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.CoRequisitos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Asignatura3.Clave)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Profesores)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profesores.Nombre)
                </dd>
            </div>
        </div>

    </div>
  

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="margin-left: 450px;">
                <br />
                <input type="submit" value="Eliminar" class="btn btn-danger" style="width: 250px; position: center; top: 50%;" />
                <br /> <br />
        </div>
        <div class="btn btn-info" style="width:280px">
            @Html.ActionLink("Regresar a la lista de carreras", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })
            <br />
        </div>
    }
</div>
