@model CalculoIndice.Models.Asignatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura2.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura2.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura3.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura3.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesores.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsignaturaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
