@model CalculoIndice.Models.Asignatura

@{
    ViewBag.Title = "Detalles";
}

<br />
<center><h2><b>Detalles de la asignatura</b></h2></center>

<div>
    <h4>Asignatura</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Clave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Clave)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </div>
            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Credito)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Credito)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.PreRequisitos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Asignatura2.Clave)
                </dd>
            </div>

            <div class="col-lg-4">
                <dt>
                    @Html.DisplayNameFor(model => model.CoRequisitos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Asignatura3.Clave)
                </dd>
                <br />
                <dt>
                    @Html.DisplayNameFor(model => model.Profesores)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profesores.Nombre)
                </dd>
            </div>
        </div>
    </div>

    <br />
</div>
<br />

@Html.ActionLink("Editar", "Edit", new { id = Model.AsignaturaId }, new { @class = "btn btn-warning" })

<div class="btn btn-info" style="width:280px">

    @Html.ActionLink("Regresar a la lista de asignaturas", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })

    <br />
</div>