@model CalculoIndice.DTO.PaginadorGenerico<CalculoIndice.Models.Calificacion>
@*@model IEnumerable<CalculoIndice.Models.Calificacion>*@
@{
    ViewBag.Title = "Bienvenido";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    @*busqueda*@
    <div class="text-right form-inline">
        <form method="get" action=@Url.Action("About", "Home" )>
            <div class="form-group">
            </div>
            <button class="btn btn-default" type="submit">Buscar</button>
        </form>
    </div>
    <div class="container-fluid display-table">

        <div class="col-md-10 col-sm-11 display-table-cell v-align">
            <div class="user-dashboard">
                <h1>Bienvenido</h1>
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                        <div class="sales">
                            <h2>Indice Academico</h2>

                            <div class="btn-group">
                                <button class="btn btn-secondary btn-lg " type="button" data-toggle="" aria-expanded="false">
                                    <h4><bold> @ViewBag.message</bold></h4>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                        <div class="sales">
                            <h2>Fecha: </h2>

                            <div class="btn-group">
                                <button class="btn btn-secondary btn-lg " type="button" data-toggle="">
                                    <h4><bold> @ViewBag.Date</bold></h4>
                                </button>
                            </div>
                        </div>
                    </div>

                    <br />    <br />    <br />    <br />    <br />    <br />    <br />
                    <table class="table">
                        <tr>
                            <th>
                                Calificación
                            </th>
                            <th>
                                Clave asignatura
                            </th>
                            <th>
                                Asignatura
                            </th>
                            <th>
                                Profesor
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.Resultado)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Calificación)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asignatura.Clave)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asignatura.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Asignatura.Profesores.Nombre)
                                </td>
                            </tr>
                        }

                    </table>
                   
            </div>
        </div>
    </div>

    </div>

</body>

