@*@model CalculoIndice.Models.Usuario*@
<div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
    <div class="navi">
        <ul>
            <li class="active"><a href="#"><center>ACADEMIC</center></a></li>
            @{
                //Estudiante, RolId =3
                if (ViewBag.IdRolUsuario == 3)
                {
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Rep. Asignaturas", "ReporteEstudiantesAsignaturaCalificaciones", "Calificacions")</span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                    <li><span class="hidden-xs hidden-sm"></span></li>
                }
                //Profesor, RolId =2
                else if (ViewBag.IdRolUsuario == 2)
                {
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Rep. Estudiantes Asignatura", "ReporteEstudiantesAsignatura", "Calificacions")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Reporte Asignaturas", "ReporteAsignaturasProfesor", "Asignaturas")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Calificaciones", "Index", "Calificacions")</span></li>
                    <li><span class="hidden-xs hidden-sm">                    </span></li>
                    <li><span class="hidden-xs hidden-sm">         </span></li>
                    <li><span class="hidden-xs hidden-sm">         </span></li>
                    <li><span class="hidden-xs hidden-sm">         </span></li>
                    <li><span class="hidden-xs hidden-sm">         </span></li>

                }
                //Admin, RolId =1
                else if (ViewBag.IdRolUsuario == 1)
                {
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Reporte General Asignaturas", "ReporteAsignaturas", "Asignaturas")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("EstudiantesPorRanking", "EstudiantesRanking", "Estudiantes1")</span></li>
                    <li>@Html.ActionLink("Asignaturas", "Index", "Asignaturas")</li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Carreras", "Index", "Carreras")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Estudiantes", "Index", "Estudiantes1")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Profesores", "Index", "Profesores")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Carreras", "Index", "Carreras")</span></li>
                    <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Usuarios", "Index", "Usuarios")</span></li>

                }
            }
            <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Log out", "Index", "Home")</span></li>


            @*<li><span class="hidden-xs hidden-sm">@Html.ActionLink("Rep. Asignaturas", "ReporteEstudiantesAsignaturaCalificaciones", "Calificacions")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Rep. Estudiantes Asignatura", "ReporteEstudiantesAsignatura", "Calificacions")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Reporte Asignaturas", "ReporteAsignaturasProfesor", "Asignaturas")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Calificaciones", "Index", "Calificacions")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Reporte General Asignaturas", "ReporteAsignaturas", "Asignaturas")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("EstudiantesPorRanking", "EstudiantesRanking", "Estudiantes1")</span></li>
                <li>@Html.ActionLink("Asignaturas", "Index", "Asignaturas")</li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Carreras", "Index", "Carreras")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Estudiantes", "Index", "Estudiantes1")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Profesores", "Index", "Profesores")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Carreras", "Index", "Carreras")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Usuarios", "Index", "Usuarios")</span></li>
                <li><span class="hidden-xs hidden-sm">@Html.ActionLink("Log out", "Index", "Home")</span></li>*@

        </ul>
    </div>
</div>