@model CalculoIndice.Models.Usuario

@{
    ViewBag.Title = "Eliminar";
}

<br />
<center><h2><b>Eliminar usuario</b></h2></center>

<h3>Estas seguro que deseas eliminar este usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <center>
        <div class="container">
            <div class="row" style="width:1650px">
                <div class="col-lg-4">
                    <dt>
                        Usuario
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        Contraseña
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt>
                        Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </div>
                <div class="col-lg-4">
                    <dt>
                        Ultimo inicio de sesión
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastLoginDate)
                    </dd>
                    <dt>
                        Roles
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Roles.Descripcion)
                    </dd>
                </div>
            </div>
        </div>
    </center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="margin-left: 450px;">
            <br />
            <input type="submit" value="Eliminar" class="btn btn-danger" style="width: 250px; position: center; top: 50%;" />
            <br /> <br />
        </div>
        <div class="btn btn-info" style="width:280px">
            @Html.ActionLink("Regresar a la lista de usuarios", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })
            <br />
        </div>
    }
</div>
