@model CalculoIndice.Models.Usuario

@{
    ViewBag.Title = "Detalles";
}

<br />
<center><h2><b>Detalles del usuario</b></h2></center>

<div>
    <h4>Usuario</h4>
    <hr />
    <center>
        <div class="container">
            <div class="row" style="width:1650px">
                <div class="col-lg-4">
                    <dt>
                        Usuario
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        Contraseña
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt>
                        Email
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </div>
                <div class="col-lg-4">
                    <dt>
                        Ultimo inicio de sesión
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastLoginDate)
                    </dd>
                    <dt>
                        Roles
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Roles.Descripcion)
                    </dd>
                </div>
            </div>
        </div>
    </center>
    </br>
</div>
@Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-warning" })

<div class="btn btn-info" style="width:280px">

    @Html.ActionLink("Regresar a la lista de asignaturas", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })

    <br />
</div>
