@model IEnumerable<CalculoIndice.Models.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

</br>
<center><h2 style="text-decoration: underline"><b> Usuarios</b></h2></center>

<div class="btn btn-success" style="margin-bottom: 10px">
    @Html.ActionLink("Asignar usuario", "Create", new { @class = "btn btn-success" }, new { @style = "color:white;" })
    <br />
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            Usuarios
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Correo Electronico
        </th>
        <th>
            Ultima fecha de registro
        </th>
        <th>
            Rol
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.Descripcion)
            </td>
            <td>
                <div class="btn-group-vertical">
                    <div class="btn btn-primary">
                        @Html.ActionLink("Editar   ", "Edit", new { id = item.UserId }, new { @style = "color:white;" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.UserId }, new { @style = "color:white;" }) |
                        @Html.ActionLink("Borrar ", "Delete", new { id = item.UserId }, new { @style = "color:white;" })
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
