@model IEnumerable<CalculoIndice.Models.Estudiantes>

@{
    ViewBag.Title = "Index";
}

</br></br>
<center><h2 style="text-decoration: underline"><b> Estudiantes</b></h2></center>

<div class="btn btn-success" style="margin-bottom: 10px">
    @Html.ActionLink("Crear nuevo Estudiante", "Create", new { @class = "btn btn-success" }, new { @style = "color:white;" })
    <br />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Carrera.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            <div class="btn-group-vertical d-flex right">
                <div class="btn btn-primary">
                    @Html.ActionLink("Editar   ", "Edit", new { id = item.EstudiantesId }, new { @style = "color:white;" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.EstudiantesId }, new { @style = "color:white;" }) |
                    @Html.ActionLink("Borrar ", "Delete", new { id = item.EstudiantesId }, new { @style = "color:white;" })
                </div>
            </div>
        </td>
    </tr>
    }

</table>
