@model CalculoIndice.Models.Calificacion

@{
    ViewBag.Title = "Eliminar";
}

<br />
<center><h2><b>Eliminar calificación</b></h2></center>

<h3>Estas seguro que deseas eliminar esta calificaciòn?</h3>
<hr />
<div>
    <center>
        <div class="container">
            <div class="row">
                <div class="col-lg-4" style="width:580px">
                    <dt>
                        @Html.DisplayNameFor(model => model.Calificación)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Calificación)
                    </dd>
                    </br>
                    @*<dt>
                            @Html.DisplayNameFor(model => model.Promedio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Promedio)
                        </dd>
                        </br>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.Asignatura.Clave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Asignatura.Clave)
                    </dd>
                </div>
                <div class="col-lg-4" style="width:500px">
                  
                    </br>
                    <dt>
                        @Html.DisplayNameFor(model => model.Estudiantes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Estudiantes.Nombre)
                    </dd>
                    </br>
                </div>
            </div>
        </div>
    </center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="margin-left: 460px;">
            <br />
            <input type="submit" value="Eliminar" class="btn btn-danger" style="width: 250px; position: center; top: 50%;" />
            <br /> <br />
        </div>
        <div class="btn btn-info" style="width:280px">
            @Html.ActionLink("Regresar a la lista de carreras", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })
            <br />
        </div>
    }
</div>
