@model CalculoIndice.DTO.PaginadorGenerico<CalculoIndice.Models.Calificacion>

@{
    ViewBag.Title = "Reporte Estudiantes Asignatura";
}

</br>
<center><h2 style="text-decoration: underline"><b> Reporte Estudiantes por asignaturas</b></h2></center>
</br>
@*busqueda*@
<div class="text-right form-inline">
    <form method="get" action=@Url.Action("ReporteEstudiantesAsignatura", "Calificacions" )>
        <div class="form-group">
            <Label>
                Nombre estudiante / Clave asignatura </ Label >
                @Html.TextBox("buscar", null, new
           {
                    placeholder = "Texto de búsqueda",
               @class = "form-control"
           })
        </div>
        <button class="btn btn-default" type="submit">Buscar</button>
    </form>
</div>
<br />
<table class="table table-bordered">
    <tr>
        <th>
            Asignatura
        </th>
        <th>
            Estudiante
        </th>
        <th>
            Matricula Estudiante
        </th>
        <th>
            Calificación
        </th>
        <th>
            Promedio
        </th>
        <th>
        </th>

    </tr>

    @foreach (var item in Model.Resultado)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Asignatura.Clave)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estudiantes.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estudiantes.Matricula)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Calificación)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Promedio)
    </td>
</tr>
    }

</table>

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model.Resultado.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Html.ActionLink("<<", "ReporteAsignaturas", new { pagina = 1, buscar = Model.BusquedaActual },
                        new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink("Anterior", "ReporteAsignaturas", new
    {
        pagina = Model.PaginaActual - 1,
                                                buscar = Model.BusquedaActual
    },
                                          new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("<<", "ReporteAsignaturas", new
    {
        pagina = 1,
                                          buscar = Model.BusquedaActual
    },
                                    new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink("Anterior", "ReporteAsignaturas", new
    {
        pagina = 1,
                                                buscar = Model.BusquedaActual
    },
                                          new { @class = "btn btn-sm btn-default disabled" })
}

<span></span>

@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Html.ActionLink("Siguiente", "ReporteAsignaturas", new
    {
        pagina = Model.PaginaActual + 1,
                                                 buscar = Model.BusquedaActual
    },
                                           new { @class = "btn btn-sm btn-default" })
    <span></span>
    @Html.ActionLink(">>", "ReporteAsignaturas", new
    {
        pagina = Model.TotalPaginas,
                                          buscar = Model.BusquedaActual
    },
                                    new { @class = "btn btn-sm btn-default" })
}
else
{
    @Html.ActionLink("Siguiente", "ReporteAsignaturas", new
    {
        pagina = Model.TotalPaginas - 1,
                                                 buscar = Model.BusquedaActual
    },
                                           new { @class = "btn btn-sm btn-default disabled" })
    <span></span>
    @Html.ActionLink(">>", "ReporteAsignaturas", new
    {
        pagina = Model.TotalPaginas,
                                          buscar = Model.BusquedaActual
    },
                                    new { @class = "btn btn-sm btn-default disabled" })
}
